:root {
  --primaryColor: white;
  --padding: 32px;
  --border: 1px solid #ddd;
  --bg: #f8f8f8;

  @media screen and (max-width: 501px) {
    --padding: 14px;
  }
}@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: block;
  width: 50px;
  height: 50px;
  transform: scale(0.55) translateX(45%);

  &::before {
    animation: loading 1s linear 0s infinite forwards;
    display: table;
    content: '\25DC';
    line-height: 33px;
    text-align: left;
    width: 100%;
    height: 100%;
    font-size: 45px;
    color: #101010;
  }
}

* {
  font-family: 'Chivo', sans-serif;
  color: #101010;
}

body {
  background: var(--bg);
}

.bar {
  width: 100%;
  max-width: 900px;
  min-height: 60px;
  display: grid;
  grid-template-rows: 1fr;
  overflow: visible;
  border: var(--border);
  transition: box-shadow 0.25s;

  &:hover {
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
  }
}

.table {
  display: grid;
  max-width: 900px;
  border-top: var(--border);

  > div {
    min-height: 60px;
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 14px 10px;
    align-items: center;
    border-bottom: var(--border);

    span,
    a {
      &:first-child {
        font-size: 10px;
        text-transform: uppercase;
      }

      &:last-child {
        font-size: 15px;
        text-transform: none;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}

.step {
  background: var(--bg);
  position: relative;
  width: 100%;
  height: 100vh;

  > div:not(#load-screen) {
    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.25s, transform 0.25s;
    transition-delay: 0.75s;

    &.show {
      opacity: 1;
      transform: translateY(0);
      pointer-events: initial;
    }
  }

  &:not(.step1) {
    padding: 0 var(--padding);
    display: grid;
    align-items: center;
    overflow-y: scroll;

    > div:not(#load-screen) {
      width: 100%;
      max-width: 900px;
      height: min-content;
      margin: 120px auto;
      display: grid;
      align-items: center;
    }
  }
}
